# Node & Build artifacts
node_modules
dist
dist-ssr
*.local

# Environment variables & SQL Seeds
.env
.env.local
.env.*.local
SUPABASE_SEED.sql

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
